/*
Color schemes:

#5cb85c = green
#d9534f = red
#428bca = blue (primary)
#5bc0de = light blue (info)
#808080 = grey ?
#f0ad4e = orange

*/

/*BEGIN NAVBAR STYLING*/

.navbar-default .navbar-brand, .navbar-header, .collapse, .navbar .nav > li > a {
	background:#5bc0de;
	color:white; 
	/*Figured this out for navbar from:
	http://stackoverflow.com/questions/13437579/failing-at-changing-the-text-color-in-bootstrap-navbar
	and
	http://stackoverflow.com/questions/18534390/bootstrap-3-navbar-branding-colour 
	*/
}
/*END NAVBAR STYLING*/


/*BEGINNING OF FOOTER CSS
SEE FOLLOWING LINK FOR MORE INFO ON FOOTER METHOD:
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page 
*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#full_container {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:20px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
}

.footer_text {
	text-align: center;
	position:absolute;
	bottom:0px;
	width:100%;
	font-size:80%;
}

/*END OF FOOTER CSS
*/


/*BEGIN LANDING PAGE CSS
*/

#landing_page_welcome {
	position:relative;
	text-align: center;
	top:50px;
}

#landing_page_list {
	width:220px;
	margin-left:auto;
	margin-right:auto;
	font-size:120%;
}

/*END LANDING PAGE CSS
*/


.well-sm {
	padding:5px;
	border-radius:1px
}

/* 
HOME.PHP STYLING 
*/

/*BEGIN POOL TABLE STYLING*/
	.pool_top_row, .pool_row {
		padding:6px;
	}

	.pool_status {
		padding:6px;
		font-weight:bold;
	}

	.pool_top_row{
		font-weight:bold;
	}

	.pool_column {
		width:20%;
	}

	.pool_status_column {
		width:50%;
	}

	.pool_leader_column {
		width:30%;
	}
/*END POOL TABLE STYLING*/

#pool_invite_list {
	margin-left:30px;
}


/*
CREATE_POOL.PHP STYLING
*/

.field_label {
	margin-left:20px; 
	font-style:italic;
}

/*
EDIT_POOL.PHP STYLING
*/

#pool_space {
	margin-left:0%;
}

.edit_pool_field {
    color:white;
}

.edit_category_field{
	color:blue;
	margin-left:30px;
}

.remove_category {
    margin-left:50px;
}

.accept_invite_button{
	margin-left:30px;
}

.bfh-datepicker, .bfh-timepicker, #public_private_selector  {
	width:30%;
}

#public_private_instructions {
	margin-left:20px; font-style:italic;
}

.hint_subtext {
	font-size:65%;
	font-style:italic;
}


/*BEGIN NEW.PHP CSS*/

/*END NEW.PHP CSS*/


/* BEGIN BROWSE_TEMPLATES.PHP CSS*/

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
  margin-left:auto;
  margin-right:auto;
  background-color: #777;
  width: 60%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
}

#template_container {
	padding-top:5px;
	margin-left:20px;
	margin-right:10px;
}

/*END BROWSE_TEMPLATES.PHP CSS*/

/*
POOL.PHP CSS
*/

#show_invites_link {
	font-weight:bold;
	font-size:130%;
	color: white;
}

.pool_member_table_rank, .pool_member_table_nickname, .pool_member_table_username, .pool_member_table_email, .pool_member_table_tie, .pool_member_table_picks, .pool_member_table_score, .pool_member_table_tie_breaker {
	padding:10px;
}

.pool_member_table_nickname {
	font-weight:bold;
}

#pool_title {
	text-decoration:underline;
}


.pool_members_container{
	position: absolute; 
}

.pool_members_container, .well {
	padding-left: 10px;
	padding-right: 10px;
}

#see_user_picks_back_button{
	margin-left:-80px; 
	position: absolute;
	margin-top: 35px;
	z-index: 10;
	background-color: white;
}



